<form class="c-form" 
      {% if customer %}
        action="{{ url_for('customer.update_customer', customer_id=customer.id) }}" 
      {% else %}
        action="{{ url_for('customer.insert_customer') }}"
      {% endif %}
      
      method="{% if customer %}PUT{% else %}POST{% endif %}"
      c-append="#customer-list">

    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" name="nome" {% if cliente %}value="cliente.nome"{% endif %}>
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" name="email" {% if cliente %}value="cliente.email"{% endif %}>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar Cliente</button>
  
</form>